@using (Html.BeginForm("CreateAsset", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
	@Html.Partial("_CreateAssetPartial")
}

@*@{
    ViewBag.Title = "CreateAsset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateAsset</h2>*@

