@model System.Collections.Generic.List<Nemesis.Web.Models.TeamViewModel>

@{
    ViewBag.Title = "Team uozbilji se (kratica: TUS)";
}

<h2>Teams overview</h2>
@foreach (var team in Model) {
    <section>
        <header> 
            <h3><u>@team.Name </u></h3>
            <h4>Team leader: </h4>
            <h5>&emsp;&emsp;@team.LeaderFullName</h5>
            <h4>Members:</h4>
            @foreach (var member in team.MemberNames) {
                <h5>&emsp;&emsp;@member</h5>
            }
            <h4>Subteams:</h4>
            @foreach (var subteam in team.SubteamNames) {
                <h5>&emsp;&emsp;@subteam</h5>
            }
        </header>
    </section>
}