.left-header {
    font-size: x-large;
    font-weight: bold;
    float: left;
    vertical-align: central;
}

.right-header {
    text-align: right;
    vertical-align: central;
}

.objectives-table {
    clear: both;
    margin-top: 20px;
}

.progress {
    margin: 0;
}

.accordion-table {
    margin: 0;
}

.hidden-row {
    border: none !important;
    display: none;
}

.hide-row {
    border: none !important;
    padding: 0 !important;
    transition: padding 0.5s;
}

.text-align-center {
    text-align: center;
}

a {
    text-decoration: none !important;
}

.display-none {
    display: none;
}


