body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.high-priority{
    color: red;
    font-weight: bolder;
    display: inline-block;
}
.medium-priority{
    color: gray;
    font-weight: bolder;
    display: inline-block;
}
.low-priority{
    color: yellowgreen;
    font-weight: bolder;
    display: inline-block;
}

.dashboard-item{
    color: black;
    text-decoration: none;  
    text-align: center;    
}
.dashboard-frame{
    padding: 2px 2px 2px 2px;
    border: none;
}

