@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nemesis</h1>
    <p class="lead">NEMESIS - system for managing OKR's</p>
    <p>@Html.ActionLink("Create your team space", "CreateTeamSpace", "TeamSpace", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
   
</div>